*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

.hero h1 {
    
    font-size: 40px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero .btn {
    
    display: block;
    width: 50px;
    
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    
    color: white;
    text-decoration: none;
    font-size: 15px;

    
    
    background-color: rgba(0, 0, 0, 0.8);
}

.hero {

    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white; 
    

    background-image: url('image/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero .btn {
    
    display: block;
    width: 200px;
    border: 1px solid white; 
    border-radius: 20px;
}